= simple_form_for([@file.parent, @file]) do |f|
  = f.error_notification

  .form-inputs
    - case type
    - when :new
      = f.input :file
    - when :edit
      = f.input :name
    - when :move
      = f.input :parent_id, collection: @file.root.subtree.folders, label_method: :full_name, include_blank: false

  .form-actions
    = f.button :submit
