= simple_form_for([@file.parent, @file]) do |f|
  = f.error_notification

  .form-inputs
    - if type == :new
      = f.input :file

    - if type == :edit
      = f.input :name

    - if type == :move
      = f.input :parent_id, collection: @file.root.subtree.folders, label_method: :full_name, include_blank: false

  .form-actions
    = f.button :submit
