= simple_form_for([@file.parent, @file]) do |f|
  = f.error_notification

  .form-inputs
    - case type
    - when :new
      = f.input :file
    - when :edit
      = f.input :name
    - when :move
      = render 'user_items/input_parent', form: f, item: @file

  .form-actions
    = f.button :submit
