= simple_form_for([@file.parent, @file]) do |f|
  = f.error_notification

  .form-inputs
    - if @file.new_record?
      = f.input :file
    - else
      = f.input :name

  .form-actions
    = f.button :submit
