- breadcrumb :item_action, @file

%h1 「#{@file.name}」を共有

- if @file.shared_files.exists?
  .panel.panel-default
    .panel-heading 共有中のユーザ
    .panel-body
      %table.table
        %tbody
          - @file.shared_files.includes(:shared_user).reject(&:new_record?).each do |shared_file|
            %tr
              %td= shared_file.shared_user.email
              %td= link_to '削除', [@file.parent, @file, shared_file], method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }

= simple_form_for([@file.parent, @file, @shared_file]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :email, placeholder: '共有したいユーザのメールアドレスを入力してください'
    = f.input :message, as: :text, placeholder: 'メッセージ(オプション)'

  .form-actions
    = f.button :submit

= link_to '戻る', [@file.parent, @file]
