= simple_form_for(folder_form_args(@folder)) do |f|
  = f.error_notification

  .form-inputs
    - case type
    - when :new, :edit
      = f.input :name
    - when :move
      = f.input :parent_id, collection: @folder.root.subtree.folders.where.not(id: @folder.id), label_method: :full_name, include_blank: false

  .form-actions
    = f.button :submit
