- breadcrumb :folder, @folder

%ul.nav.nav-pills
  %li= link_to 'アップロード', new_user_folder_user_file_path(@folder)
  - if @folder.present?
    %li= link_to '新しいフォルダ', new_user_folder_user_folder_path(@folder)
  - else
    %li= link_to '新しいフォルダ', new_user_folder_path

%table.table
  %thead
    %tr
      %th= sort_link(@q, :name, '名前')
      %th= sort_link(@q, :updated_at, '更新')
      %th 共有中のユーザ
      %th アクション
  %tbody
    = render @items
