- breadcrumb :folder, @folder

.btn-group.btn-group-lg{ role: 'group', aria: { label: 'toolbar' }}
  = link_to new_user_folder_user_file_path(@folder), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-upload{ aria: { hidden: true } }
    アップロード
  = link_to new_user_folder_user_folder_path(@folder), class: 'btn btn-default', method: :post do
    %span.glyphicon.glyphicon-plus{ aria: { hidden: true } }
    新しいフォルダ

%table.table
  %thead
    %tr
      %th= sort_link(@q, :name, '名前')
      %th= sort_link(@q, :updated_at, '更新日時')
      %th= sort_link(@q, :content_type, '種類')
      %th 共有中のユーザ
      %th アクション
  %tbody
    = render @items
